/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.byline {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 50px;
  max-width: 500px;
}

figure.byline-img {
  margin: 0;
  padding: 0;
}

.byline p {
  margin-left: 20px;
  font-size: 16px;
  opacity: 0.8;
}

body {
  font-family: arial;
  color: #333;
}

a {
  color: #333;
}

a:hover {
  opacity: 0.8;
}

.wrap-all {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

.region-flash img {
    max-width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.region-header-col-1 a {
  text-decoration: none;
}

figure.figure.right {
  float: right;
  display: inline-block;
  margin: 0;
  margin-left: 50px;
}

figure.figure.right img {
  margin-bottom: 20px;
}

figure.figure img {
  max-width: 500px;
}

h1 {
  margin-bottom: 50px;
  margin-top: 20;
  font-size: 50px;
}


ul.my-navbar.rm-default.rm-desktop {
  padding: 0;
}

ul.my-navbar.rm-default.rm-desktop li a {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-logo {
  display: none;
}

.footer-column {
    width: 33%;
    float: left;
}

.region-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

article {
  min-height: 300px;
}

.footer-copyright {
  margin-top: 150px;
}

h4 {
  font-size: 25px;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.toc ul li {
    list-style-type: none;
}

.toc ul {
    padding: 0;
    margin: 0;
}


p {
  opacity: 0.8;
}
